# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
UI/app/node_modules
UI/app/.pnp
UI/app/.pnp.js

# testing
UI/app/coverage

# production
UI/app/build

# misc
UI/app/.DS_Store
UI/app/.env.local
UI/app/.env.development.local
UI/app/.env.test.local
UI/app/.env.production.local

UI/app/npm-debug.log*
UI/app/yarn-debug.log*
UI/app/yarn-error.log*
